.edit {
  color: white;
  .edit-container {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .close {
      cursor: pointer;
      align-self: flex-end;
      border: 2px solid white;
      margin: 1rem 1.15rem 0 0;
      padding: 0.45rem;
      border-radius: 16px;
      font-weight: 700;
      font-size: 1rem;
      width: 100px;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      text-align: center;
      background-color: antiquewhite;
      color: cadetblue;
      margin-bottom: 40px;
      height: 40px;
      
      // background-color: transparent;
      // border: none;
      // align-self: flex-end;
      // margin: 1rem 1.15rem 0 0;
      // font-size: 1rem;
      // font-weight: 700;
      // cursor: pointer;
      // color: rgb(41, 128, 243);
    }
    .edit-profile {
      letter-spacing: 0.04rem;
      font-size: 1.5rem;
      color: azure;
    }
    .input-container {
      width: 80%;
      font-size: 1rem;
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
    }
    .input-container input {
      margin: 1rem 0 1rem 0;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      background-color: #505050;
      border: none;
      border-radius: 4px;
      // color: white;
    }
    .input-container label {
      letter-spacing: 0.03rem;
    }
    .input-container textarea {
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      height: 100px;
      background-color: #505050;
      border: none;
      border-radius: 4px;
      margin: 1rem 0;
      text-align: start;
      font-family: "Noto Sans", sans-serif;
    }
    .input-image-container {
      flex-wrap: wrap;
    }
    label:nth-child(7) {
      margin-bottom: 1rem;
    }

    .input-image {
      cursor: pointer;
      border-radius: 14px;
      background-color: white;
      padding: 0.5rem;
      width: 74px;
      margin-right: 1rem;
      margin-bottom: 2rem;
      height: 116px;
      //   object-fit: cover;
      overflow: hidden;
    }
    .theme-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .theme-color {
        height: 33px;
        width: 55px;
        padding: 2px;
        cursor: pointer;
      }
    }
    .theme-container label {
      letter-spacing: 0.05rem;
      margin-right: 3rem;
    }
  }
}

.input-container {
  width: 80%;
  font-size: 1rem;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
}
.input-container input {
  margin: 1rem 0 1rem 0;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #505050;
  border: none;
  border-radius: 4px;
  // color: white;
}
.input-container label {
  letter-spacing: 0.03rem;
}
.input-about {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  height: 100px;
  background-color: #505050;
  border: none;
  border-radius: 4px;
  margin: 1rem 0;
  text-align: start;
  font-family: "Noto Sans", sans-serif;
}
.input-image-container {
  flex-wrap: wrap;
}
